*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

nav {
  background-color: indigo;
  height: 60px;
  padding: 0 60px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

section, header, footer {
  padding: 60px;
}

header {
  background-color: indigo;
  text-align: center;
}

.logo {
  float: left;
  margin: 0;
  line-height: 60px;
}

.nav-links {
  margin: 0;
    
}

.nav-links li {
  display: inline-block;
  list-style-type: none;
  padding-left: 30px;
  line-height: 60px;
  text-transform: uppercase;
  float: right;
}

.ursula-headshot {
  border: 10px solid white;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.achievements {
  background-color: dimgrey;
}

.enemies {
  background-color: crimson;
}

.enemies > img {
  width: 33%;
  border: 5px solid white;

}

.mission {
  background-color: mediumblue;
}

footer {
  background-color: black;
  text-align: right;
}
