*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
}

nav {
  background-color: indigo;
  height: 80px;
  padding: 0 60px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.container {
  width: 960px;
  margin: 0 auto;
}

section, header, footer {
  padding: 60px;
}

header {
  margin-top: 80px;
  background-color: indigo;
  text-align: center;
}

/* Note to self: Try to build a simpler layout, without using floats for beginner
workshops. */
.logo {
  float: left;
  margin: 0;
  line-height: 80px;
  font-size: 2.5rem;
}

.nav-links {
  margin: 0;
    
}

.nav-links li {
  display: inline-block;
  list-style-type: none;
  padding-left: 30px;
  line-height: 80px;
  text-transform: uppercase;
  float: right;
}

.nav-links li a {
  text-decoration: none;
}

.ursula-headshot {
  border: 10px solid white;
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

.section-heading {
  font-size: 2rem;
}

header > p, section > p, section li {
  font-size: 1.25rem;
}

.achievements {
  background-color: dimgrey;
}

.enemies {
  background-color: crimson;
}

.enemies > img {
  width: 33%;
  border: 5px solid white;

}

.mission {
  background-color: mediumblue;
}

footer {
  background-color: black;
  text-align: right;
}
